.blocklySvg {
    background-color: #f9f9f9;
    outline: none;
    overflow: hidden;
    position: absolute;
    display: block;
}
.blocklyRelativeWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
.blocklyWidgetDiv {
    display: none;
    position: absolute;
    z-index: 99999;
}
.injectionDiv {
    height: 100%;
    position: relative;
    overflow: hidden;
    touch-action: none;
}
.blocklyNonSelectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.blocklyWidgetDiv.fieldTextInput {
    overflow: hidden;
    border: 1px solid;
    box-sizing: border-box;
    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}
.blocklyWidgetDiv.fieldTextInput.removableTextInput {
    overflow: visible;
}
.blocklyTextDropDownArrow {
    position: absolute;
}
.blocklyTextRemoveIcon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: -40px;
    left: 50%;
    margin-left: -12px;
    cursor: pointer;
}
.blocklyNonSelectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.blocklyWsDragSurface {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.blocklyWsDragSurface.blocklyOverflowVisible {
    overflow: visible;
}
.blocklyBlockDragSurface {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: visible !important;
    z-index: 50;
}
.blocklyTooltipDiv {
    background-color: #ffffc7;
    border: 1px solid #ddc;
    box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.15);
    color: #000;
    display: none;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 9pt;
    opacity: 0.9;
    padding: 2px;
    position: absolute;
    z-index: 100000;
}
.blocklyDropDownDiv {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: none;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    padding: 4px;
    -webkit-user-select: none;
    min-height: 15px;
}
.blocklyDropDownContent {
    max-height: 300px;
    overflow: auto;
}
.blocklyDropDownArrow {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    z-index: -1;
    background-color: inherit;
    border-color: inherit;
}
.blocklyDropDownButton {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 4px;
    border-radius: 4px;
    outline: none;
    border: 1px solid;
    transition: box-shadow 0.1s;
    cursor: pointer;
}
.blocklyDropDownButtonHover {
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.blocklyDropDownButton:active {
    box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.1);
}
.blocklyDropDownButton > img {
    width: 80%;
    height: 80%;
    margin-top: 5%;
}
.blocklyDropDownPlaceholder {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 4px;
}
.blocklyNumPadButton {
    display: inline-block;
    float: left;
    padding: 0;
    width: 48px;
    height: 48px;
    margin: 4px;
    border-radius: 4px;
    background: #547ab2;
    color: white;
    outline: none;
    border: 1px solid #435f91;
    cursor: pointer;
    font-weight: 600;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12pt;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.blocklyNumPadButton > img {
    margin-top: 10%;
    width: 80%;
    height: 80%;
}
.blocklyNumPadButton:active {
    background: #435f91;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.arrowTop {
    border-top: 1px solid;
    border-left: 1px solid;
    border-top-left-radius: 4px;
    border-color: inherit;
}
.arrowBottom {
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-bottom-right-radius: 4px;
    border-color: inherit;
}
.valueReportBox {
    min-width: 50px;
    max-width: 300px;
    max-height: 200px;
    overflow: auto;
    word-wrap: break-word;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.8em;
}
.blocklyResizeSE {
    cursor: se-resize;
    fill: #aaa;
}
.blocklyResizeSW {
    cursor: sw-resize;
    fill: #aaa;
}
.blocklyResizeLine {
    stroke: #888;
    stroke-width: 1;
}
.blocklyHighlightedConnectionPath {
    fill: none;
    stroke: #fc3;
    stroke-width: 4px;
}
.blocklyPath {
    stroke-width: 1px;
}
.blocklySelected > .blocklyPath {
}
.blocklySelected > .blocklyPathLight {
    display: none;
}
.blocklyDraggable {
    cursor: url("/static/blocks-media/handopen.cur"), auto;
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}
.blocklyDragging {
    cursor: url("/static/blocks-media/handclosed.cur"),
        auto;
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}
.blocklyDraggable:active {
    cursor: url("/static/blocks-media/handclosed.cur"),
        auto;
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}
.blocklyBlockDragSurface .blocklyDraggable {
    cursor: url("/static/blocks-media/handclosed.cur"),
        auto;
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}
.blocklyDragging.blocklyDraggingDelete {
    cursor: url("/static/blocks-media/handdelete.cur"),
        auto;
}
.blocklyDragging.blocklyDraggingMouseThrough {
    pointer-events: none;
}
.blocklyToolboxDelete {
    cursor: url("/static/blocks-media/handdelete.cur"),
        auto;
}
.blocklyToolboxGrab {
    cursor: url("/static/blocks-media/handclosed.cur"),
        auto;
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.blocklyDragging > .blocklyPath,
.blocklyDragging > .blocklyPathLight {
    fill-opacity: 1;
    stroke-opacity: 1;
}
.blocklyDragging > .blocklyPath {
}
.blocklyDisabled > .blocklyPath {
    fill-opacity: 0.5;
    stroke-opacity: 0.5;
}
.blocklyInsertionMarker > .blocklyPath {
    stroke: none;
}
.blocklyText {
    fill: #ffffff;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 500;
}
.blocklyTextTruncated {
    font-size: 11pt;
}
.blocklyNonEditableText > text {
    pointer-events: none;
}
.blocklyNonEditableText > text,
.blocklyEditableText > text {
    fill: #575e75;
}
.blocklyEditableText > .blocklyEditableLabel {
    fill: #fff;
}
.blocklyDropdownText {
    fill: #ffffff !important;
}
.blocklyBubbleText {
    fill: #575e75;
}
.blocklyFlyout {
    position: absolute;
    z-index: 20;
}
.blocklyFlyoutButton {
    fill: none;
    pointer-events: all;
}
.blocklyFlyoutButtonBackground {
    stroke: #c6c6c6;
}
.blocklyFlyoutButton .blocklyText {
    fill: #575e75;
}
.blocklyFlyoutButtonShadow {
    fill: transparent;
}
.blocklyFlyoutButton:hover {
    fill: white;
    cursor: pointer;
}
.blocklyFlyoutLabel {
    cursor: default;
}
.blocklyFlyoutLabelBackground {
    opacity: 0;
}
.blocklyTouchTargetBackground {
    fill: transparent;
    cursor: pointer;
}
.blocklyFlyoutLabelText {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14pt;
    fill: #575e75;
    font-weight: bold;
}
.blocklySvg text,
.blocklyBlockDragSurface text,
.blocklyFlyout text,
.blocklyToolboxDiv text {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: inherit;
}
.blocklyHidden {
    display: none;
}
.blocklyFieldDropdown:not(.blocklyHidden) {
    display: block;
}
.blocklyIconGroup {
    cursor: default;
}
.blocklyIconGroup:not(:hover),
.blocklyIconGroupReadonly {
    opacity: 0.6;
}
.blocklyIconShape {
    fill: #00f;
    stroke: #fff;
    stroke-width: 1px;
}
.blocklyIconSymbol {
    fill: #fff;
}
.blocklyMinimalBody {
    margin: 0;
    padding: 0;
}
.blocklyCommentForeignObject {
    position: relative;
    z-index: 0;
}
.blocklyCommentRect {
    fill: #e7de8e;
    stroke: #bca903;
    stroke-width: 1px;
}
.blocklyCommentTarget {
    fill: transparent;
    stroke: #bca903;
}
.blocklyCommentTargetFocused {
    fill: none;
}
.blocklyCommentHandleTarget {
    fill: none;
}
.blocklyCommentHandleTargetFocused {
    fill: transparent;
}
.blocklyFocused > .blocklyCommentRect {
    fill: #b9b272;
    stroke: #b9b272;
}
.blocklySelected > .blocklyCommentTarget {
    stroke: #fc3;
    stroke-width: 3px;
}
.blocklyCommentTextarea {
    background-color: #fef49c;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 3px;
    resize: none;
    display: block;
    overflow: hidden;
}
.blocklyCommentDeleteIcon {
    cursor: pointer;
    fill: #000;
    display: none;
}
.blocklySelected > .blocklyCommentDeleteIcon {
    display: block;
}
.blocklyDeleteIconShape {
    fill: #000;
    stroke: #000;
    stroke-width: 1px;
}
.blocklyDeleteIconShape.blocklyDeleteIconHighlighted {
    stroke: #fc3;
}
.scratchCommentForeignObject {
    position: relative;
}
.scratchCommentBody {
    background-color: #fef49c;
    border-radius: 4px;
}
.scratchCommentRect {
    fill: #fef49c;
}
.scratchCommentTarget {
    fill: transparent;
}
.scratchWorkspaceCommentBorder {
    stroke: #bca903;
    stroke-width: 1px;
}
.scratchCommentTargetFocused {
    fill: none;
}
.scratchCommentTopBar {
    fill: #000000;
    fill-opacity: 0.1;
}
.scratchCommentText {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 400;
}
.scratchCommentTextarea {
    background-color: #fef49c;
    border: 0;
    outline: 0;
    padding: 0;
    resize: none;
    overflow: hidden;
}
.scratchCommentTextarea::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
}
.scratchCommentResizeSE {
    cursor: se-resize;
    fill: transparent;
}
.scratchCommentResizeSW {
    cursor: sw-resize;
    fill: transparent;
}
.blocklyHtmlInput {
    border: none;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12pt;
    height: 100%;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    color: #575e75;
    font-weight: 500;
}
.blocklyMainBackground {
    stroke-width: 1;
    stroke: #c6c6c6;
}
.blocklyMutatorBackground {
    fill: #fff;
    stroke: #ddd;
    stroke-width: 1;
}
.blocklyFlyoutBackground {
    fill: #f9f9f9;
    fill-opacity: 0.8;
}
.blocklyMainWorkspaceScrollbar {
    z-index: 20;
}
.blocklyFlyoutScrollbar {
    z-index: 30;
}
.blocklyScrollbarHorizontal,
.blocklyScrollbarVertical {
    position: absolute;
    outline: none;
}
.blocklyScrollbarBackground {
    opacity: 0;
}
.blocklyScrollbarHandle {
    fill: #cecdce;
}
.blocklyScrollbarBackground:hover + .blocklyScrollbarHandle,
.blocklyScrollbarHandle:hover {
    fill: #cecdce;
}
.blocklyZoom > image {
    opacity: 1;
}
.blocklyFlyout .blocklyScrollbarHandle {
    fill: #bbb;
}
.blocklyFlyout .blocklyScrollbarBackground:hover + .blocklyScrollbarHandle,
.blocklyFlyout .blocklyScrollbarHandle:hover {
    fill: #aaa;
}
.blocklyInvalidInput {
    background: #faa;
}
.blocklyAngleCircle {
    stroke: #3373cc;
    stroke-width: 1;
    fill: #4280d7;
}
.blocklyAngleCenterPoint {
    stroke: #fff;
    stroke-width: 1;
    fill: #fff;
}
.blocklyAngleDragHandle {
    stroke: #fff;
    stroke-width: 5;
    stroke-opacity: 0.25;
    fill: #fff;
    cursor: pointer;
}
.blocklyAngleDragArrow {
    pointer-events: none;
}
.blocklyAngleMarks {
    stroke: #fff;
    stroke-width: 1;
    stroke-opacity: 0.5;
}
.blocklyAngleGauge {
    fill: #fff;
    fill-opacity: 0.2;
}
.blocklyAngleLine {
    stroke: #fff;
    stroke-width: 1;
    stroke-linecap: round;
    pointer-events: none;
}
.blocklyContextMenu {
    border-radius: 4px;
    max-height: 100%;
}
.blocklyDropdownMenu {
    padding: 0 !important;
}
.blocklyDropDownNumPad {
    background-color: #547ab2;
}
.blocklyWidgetDiv .goog-option-selected .goog-menuitem-checkbox,
.blocklyWidgetDiv .goog-option-selected .goog-menuitem-icon {
    background: url(/static/blocks-media/sprites.png)
        no-repeat -48px -16px !important;
}
.blocklyToolboxDiv {
    background-color: #ffffff;
    color: #575e75;
    overflow-x: visible;
    overflow-y: auto;
    position: absolute;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    z-index: 40;
    -webkit-tap-highlight-color: transparent;
}
.blocklyTreeRoot {
    padding: 4px 0;
}
.blocklyTreeRoot:focus {
    outline: none;
}
.blocklyTreeRow {
    height: 22px;
    line-height: 22px;
    margin-bottom: 3px;
    padding-right: 8px;
    white-space: nowrap;
}
.blocklyHorizontalTree {
    float: left;
    margin: 1px 5px 8px 0;
}
.blocklyHorizontalTreeRtl {
    float: right;
    margin: 1px 0 8px 5px;
}
.blocklyToolboxDiv[dir="RTL"] .blocklyTreeRow {
    margin-left: 8px;
}
.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    background-color: #e4e4e4;
}
.blocklyTreeSeparator {
    border-bottom: solid #e5e5e5 1px;
    height: 0;
    margin: 5px 0;
}
.blocklyTreeSeparatorHorizontal {
    border-right: solid #e5e5e5 1px;
    width: 0;
    padding: 5px 0;
    margin: 0 5px;
}
.blocklyTreeIcon {
    background-image: url(/static/blocks-media/sprites.png);
    height: 16px;
    vertical-align: middle;
    width: 16px;
}
.blocklyTreeIconClosedLtr {
    background-position: -32px -1px;
}
.blocklyTreeIconClosedRtl {
    background-position: 0px -1px;
}
.blocklyTreeIconOpen {
    background-position: -16px -1px;
}
.blocklyTreeSelected > .blocklyTreeIconClosedLtr {
    background-position: -32px -17px;
}
.blocklyTreeSelected > .blocklyTreeIconClosedRtl {
    background-position: 0px -17px;
}
.blocklyTreeSelected > .blocklyTreeIconOpen {
    background-position: -16px -17px;
}
.blocklyTreeIconNone,
.blocklyTreeSelected > .blocklyTreeIconNone {
    background-position: -48px -1px;
}
.blocklyTreeLabel {
    cursor: default;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    padding: 0 3px;
    vertical-align: middle;
}
.blocklyToolboxDelete .blocklyTreeLabel {
    cursor: url("/static/blocks-media/handdelete.cur"),
        auto;
}
.blocklyTreeSelected .blocklyTreeLabel {
    color: #fff;
}
.blocklyDropDownDiv .goog-slider-horizontal {
    margin: 8px;
    height: 22px;
    width: 150px;
    position: relative;
    outline: none;
    border-radius: 11px;
    margin-bottom: 20px;
}
.blocklyDropDownDiv .goog-slider-horizontal .goog-slider-thumb {
    width: 26px;
    height: 26px;
    top: -1px;
    position: absolute;
    background-color: white;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.15);
}
.scratchEyedropper {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 5px;
    cursor: pointer;
}
.scratchColourPickerLabel {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.65rem;
    color: #575e75;
    margin: 8px;
}
.scratchColourPickerLabelText {
    font-weight: bold;
}
.scratchColourPickerReadout {
    margin-left: 10px;
}
.scratchMatrixButtonDiv {
    width: 50%;
    text-align: center;
    float: left;
}
.scratchNotePickerKeyLabel {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.75rem;
    fill: #575e75;
    pointer-events: none;
}
.blocklyWidgetDiv .goog-menu {
    background: #fff;
    border-color: #ccc #666 #666 #ccc;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    font: normal 13px "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    outline: none;
    padding: 4px 0;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 20000;
}
.blocklyDropDownDiv .goog-menu {
    cursor: default;
    font: normal 13px "Helvetica Neue", Helvetica, sans-serif;
    outline: none;
    z-index: 20000;
}
.blocklyWidgetDiv .goog-menuitem {
    color: #000;
    font: normal 13px "Helvetica Neue", Helvetica, sans-serif;
    list-style: none;
    margin: 0;
    padding: 4px 7em 4px 28px;
    white-space: nowrap;
}
.blocklyDropDownDiv .goog-menuitem {
    color: #ffffff;
    font: normal 13px "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    list-style: none;
    margin: 0;
    min-height: 24px;
    padding: 4px 7em 4px 28px;
    white-space: nowrap;
}
.blocklyWidgetDiv .goog-menuitem.goog-menuitem-rtl,
.blocklyDropDownDiv .goog-menuitem.goog-menuitem-rtl {
    padding-left: 7em;
    padding-right: 28px;
}
.blocklyWidgetDiv .goog-menu-nocheckbox .goog-menuitem,
.blocklyWidgetDiv .goog-menu-noicon .goog-menuitem,
.blocklyDropDownDiv .goog-menu-nocheckbox .goog-menuitem,
.blocklyDropDownDiv .goog-menu-noicon .goog-menuitem {
    padding-left: 12px;
}
.blocklyWidgetDiv .goog-menu-noaccel .goog-menuitem,
.blocklyDropDownDiv .goog-menu-noaccel .goog-menuitem {
    padding-right: 20px;
}
.blocklyWidgetDiv
    .goog-menuitem-content
    .blocklyDropDownDiv
    .goog-menuitem-content {
    color: #000;
    font: normal 13px "Helvetica Neue", Helvetica, sans-serif;
}
.blocklyWidgetDiv .goog-menuitem-disabled .goog-menuitem-accel,
.blocklyWidgetDiv .goog-menuitem-disabled .goog-menuitem-content,
.blocklyDropDownDiv .goog-menuitem-disabled .goog-menuitem-accel,
.blocklyDropDownDiv .goog-menuitem-disabled .goog-menuitem-content {
    color: #ccc !important;
}
.blocklyWidgetDiv .goog-menuitem-disabled .goog-menuitem-icon,
.blocklyDropDownDiv .goog-menuitem-disabled .goog-menuitem-icon {
    opacity: 0.3;
    -moz-opacity: 0.3;
    filter: alpha(opacity=30);
}
.blocklyWidgetDiv .goog-menuitem-highlight,
.blocklyWidgetDiv .goog-menuitem-hover {
    background-color: #d6e9f8;
    border-color: #d6e9f8;
    border-style: dotted;
    border-width: 1px 0;
    padding-bottom: 3px;
    padding-top: 3px;
}
.blocklyDropDownDiv .goog-menuitem-highlight,
.blocklyDropDownDiv .goog-menuitem-hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.blocklyWidgetDiv .goog-menuitem-checkbox,
.blocklyWidgetDiv .goog-menuitem-icon,
.blocklyDropDownDiv .goog-menuitem-checkbox,
.blocklyDropDownDiv .goog-menuitem-icon {
    background-repeat: no-repeat;
    height: 16px;
    left: 6px;
    position: absolute;
    right: auto;
    vertical-align: middle;
    width: 16px;
}
.blocklyWidgetDiv .goog-option-selected .goog-menuitem-checkbox,
.blocklyWidgetDiv .goog-option-selected .goog-menuitem-icon,
.blocklyDropDownDiv .goog-option-selected .goog-menuitem-checkbox,
.blocklyDropDownDiv .goog-option-selected .goog-menuitem-icon {
    background: url(/static/blocks-media/sprites.png)
        no-repeat -48px -16px !important;
    position: static;
    float: left;
    margin-left: -24px;
}
.blocklyWidgetDiv .goog-menuitem-rtl .goog-menuitem-checkbox,
.blocklyWidgetDiv .goog-menuitem-rtl .goog-menuitem-icon,
.blocklyDropDownDiv .goog-menuitem-rtl .goog-menuitem-checkbox,
.blocklyDropDownDiv .goog-menuitem-rtl .goog-menuitem-icon {
    float: right;
    margin-right: -24px;
}
.blocklyWidgetDiv .goog-menuitem-accel,
.blocklyDropDownDiv .goog-menuitem-accel {
    color: #999;
    direction: ltr;
    left: auto;
    padding: 0 6px;
    position: absolute;
    right: 0;
    text-align: right;
}
.blocklyWidgetDiv .goog-menuitem-rtl .goog-menuitem-accel,
.blocklyDropDownDiv .goog-menuitem-rtl .goog-menuitem-accel {
    left: 0;
    right: auto;
    text-align: left;
}
.blocklyWidgetDiv .goog-menuitem-mnemonic-hint,
.blocklyDropDownDiv .goog-menuitem-mnemonic-hint {
    text-decoration: underline;
}
.blocklyWidgetDiv .goog-menuitem-mnemonic-separator,
.blocklyDropDownDiv .goog-menuitem-mnemonic-separator {
    color: #999;
    font-size: 12px;
    padding-left: 4px;
}
.blocklyWidgetDiv .goog-menuseparator,
.blocklyDropDownDiv .goog-menuseparator {
    border-top: 1px solid #ccc;
    margin: 4px 0;
    padding: 0;
}
.blocklyFlyoutCheckbox {
    fill: white;
    stroke: #c8c8c8;
}
.checked > .blocklyFlyoutCheckbox {
    fill: #4c97ff;
    stroke: #3373cc;
}
.blocklyFlyoutCheckboxPath {
    fill: transparent;
    stroke: white;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.scratchCategoryMenu {
    width: 60px;
    background: #ffffff;
    color: #575e75;
    font-size: 0.7rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.scratchCategoryMenuHorizontal {
    width: 100%;
    height: 50px;
    background: #ffffff;
    color: #575e75;
    font-size: 0.7em;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.scratchCategoryMenuHorizontal .scratchCategoryMenuRow {
    float: left;
    margin: 3px;
}
.scratchCategoryMenuRow {
}
.scratchCategoryMenuItem {
    padding: 0.375rem 0px;
    cursor: pointer;
    text-align: center;
}
.scratchCategoryMenuHorizontal .scratchCategoryMenuItem {
    padding: 6px 5px;
}
.scratchCategoryMenuItem.categorySelected {
    background: #e9eef2;
}
.scratchCategoryItemBubble {
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid;
    border-radius: 100%;
    margin: 0 auto 0.125rem;
}
.scratchCategoryItemIcon {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 auto 0.125rem;
    background-size: 100%;
}
.scratchCategoryMenuItem:hover {
    color: #4c97ff !important;
}
