<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G9D管理员的文章查看</title>
    <meta name="description" content="G9D文章查看，作者：FFTT52536">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/tip.css">
    <style>
        
        #title{
            font-size: 50px;
            font-family: 'Comic Sans MS', '楷体', cursive;
            font-weight: 700;
            -webkit-text-fill-color: transparent;
            color: transparent;
            background: #66ccff linear-gradient(#f0f8ff 0%, #66ccff 20%, #0088ff 40%, #00aaff 70%, #0033ff 90%, #000000 100%);
            background-clip: text;
            -webkit-background-clip: text;
        }
        body{
            background-color: #002288;
            background-size: 100% 100%;
            padding-bottom: 50px;
        }
        .logoNav{
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            background-color: hsla(208, 100%, 65%, 1);
            height: 30px;
            padding: 8px;
            font-size: 0.75rem;
            font-weight: bold;
        }
        .logo{
            display: inline-block;
            width: 60px;
            height: 30px;
            cursor: pointer;
        }
        ul li{
            list-style: none;
            display: inline-block;
            width: 230px;
            height: 200px;
            text-align: center;
            word-break: break-all;
            word-wrap: break-word;
            margin: 16px;
            border-radius: 5px;
            background-color: #bcb5ad;
            padding-top: 20px;
            overflow: hidden;
            color: #ffffff;
            cursor: pointer;
            user-select: none;
        }
        ul li a{
            color: inherit;
            text-decoration: none;
            text-shadow: #73706c 1px 1px 5px;
        }
        ul li a:hover{
            text-decoration: underline;
        }
        ul li img{
            width: 200px;
            height: 130px;
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        .box{
            color: #f7f7f7;
            margin-top: 100px;
        }
        .box>*{
            text-align: center;
            margin: 0 auto;
        }
        h1{
            font-size: 25px;
        }
        .logoNav a{
            float: left;
            color: #ffffff;
            height: 30px;
            line-height: 30px;
            text-decoration: none;
            padding-right: 7.5px;
            padding-left: 7.5px;
            vertical-align: middle;
        }
        .thumb{
            width: 30px;
            height: 30px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: 10%;
        }
        input[type="text"]{
            color: inherit;
            border: none;
            outline: none;
            border-bottom: 1px solid #dddddd;
            background-color: transparent;
            transition: all 1s linear;
        }
        input[type="text"]~.button-light{
            transition: all 1s linear;
        }
        input[type="text"]:focus{
            border-bottom-color: #eeeeee;
            transform: translateX(-80px) scale(1.5);
        }
        input[type="text"]:focus~.button-light{
            padding: 10px;
            border-radius: 4px;
            background-color: #ffffff;
            color: #333333;
        }
        [type="button"], [type="submit"], button{
            border-radius: 0;
            border: 1px solid currentColor;
            color: inherit;
            background-color: transparent;
            padding: 2px;
            cursor: pointer;
        }
        .btn{
            display: inline-block;
            background-color: #2f5fff;
            color: #eeeeee;
            padding: 1em;
            border-radius: 0.4em;
            cursor: pointer;
            margin-left: 5px;
        }
        .articles{
            background-color: #ffffff88;
            border-radius: 10px;
            max-width: 600px;
            text-align: left;
            margin-bottom: 1.5em;
            overflow: hidden;
        }
        .articles-title{
            background-color: #00000020;
            color: #aaaaaa;
            font-size: 150%;
            padding: 20px;
            margin-bottom: 10px;
            border-bottom: 1px solid currentColor;
        }
        .articles>ul{
            display: block;
            margin: 0;
            list-style: none;
            padding: 0;
        }
        .articles>ul>li{
            background-color: #7fffd488;
            color: #ff5588;
            cursor: pointer;
            width: 80px;
            height: 50px;
            margin: 0;
            margin-left: 10px;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
            word-break: break-all;
            word-wrap: break-word;
        }
        .unread::after{
            content: "";
            position: absolute;
            right: -3px;
            top: -3px;
            width: 10px;
            height: 10px;
            background-color: #ff0000;
            border-radius: 50%;
        }
        .art{
            margin: 20px 20px;
            padding: 50px;
            border-radius: 15px;
            text-align: left;
            text-align: start;
            background-color: #ffffff;
            color: #333333;
            font-family: Consolas, SimSun, '楷体', cursive;
            user-select: text;
            -webkit-user-select: text;
            -moz-user-select: text;
        }
        .art a{
            color: #0033ff;
            border-bottom: 1px solid currentColor;
            text-decoration: none;
        }
        .tag{
            display: inline-block;
            font-weight: normal;
            border-radius: 3px;
            line-height: 20px;
            padding-left: 5px;
            padding-right: 5px;
            color: #ffffff;
        }
    </style>
    <script src="/javascripts/jquery.js"></script>
</head>
<body>
    <div class="logoNav">
        <a href="/">
            <img src="/static/logo.svg" alt="G9D首页" title="回到首页" class="logo"/>
        </a>
        <!--a href="/mobile.html">进入VOD</a-->
        <a href="javascript:void(0);" onclick="window.location.href='/msgs.html';">
            系统消息
        </a>
    </div>
    <div class="box">
        <p>
            <a href="/user.html" title="用户主页">用户主页</a>
            |
            <a href="/settings.html" title="用户设置">用户设置</a>
        </p>
        <h1 id="title"><%= title %></h1>
        <p>By <a id="name" href="/account.html?id=<%= owner %>"></a></p>
        <div class="art">
            <p style="font-size: 50%; color: #888888;">正在阅读一篇Markdown文章。</p>
            <%- text %>
        </div>
    </div>

    <script>
        var enm = document.getElementById("name");
        fetch("/users/name?id=<%= owner %>")
            .then(function(s){
                return s.json();
            })
            .then(function(j){
                if(j.name){
                    enm.textContent = j.name;
                }else{
                    console.error(j);
                }
            })
            .catch(console.error);
    </script>

    <script>
        document.documentElement.addEventListener("click", function(e){
            var tgt = e.target.closest("[data-href]");
            if(!tgt) return;
            else window.location.href = tgt.dataset.href;
        });
    </script>
</body>
</html>